---
const block = Astro.props;
---

<div class="text">
  <div class="text__container">{block.text}</div>
</div>

<style>
  .text {
    display: grid;
    padding-top: 96px;
  }
  .text__container {
    max-width: var(--largeContainer);
  }

  p {
    margin-bottom: 1rem;
  }
</style>
