---
const { heading, subheading } = Astro.props;
---

{
  heading ? (
    <h2 class="slider-heading text-center sm:text-left">{heading}</h2>
  ) : null
}
{
  subheading ? (
    <div class="md:max-w-[26rem] text-center sm:text-left">{subheading}</div>
  ) : null
}
