---
import Markdown from '../utility/markdown.astro';
const { slides } = Astro.props;
const firstSlide = slides[0];
---

{
  ENV_BOOKSHOP_LIVE ? (
    <div class="slide-container">
      <div class="swiper-slide-contents">
        <Markdown content={firstSlide.text} />
      </div>
    </div>
  ) : (
    <swiper-container
      navigation="true"
      loop="true"
      class="swiper-container slider">
      {slides.map((slide: any) => {
        return (
          <swiper-slide class="slide-container">
            <div class="swiper-slide-contents">
              <Markdown content={slide.text} />
            </div>
          </swiper-slide>
        );
      })}
    </swiper-container>
  )
}

<style>
  .slide-container {
    height: 100%;
  }

  .swiper-slide-contents {
    padding-block: 2rem;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
</style>
