---
import Markdown from '../utility/markdown.astro';
const { slides } = Astro.props;
---

<swiper-container navigation="true" loop="true" class="swiper-container slider">
  {
    slides.map((slide: any) => {
      return (
        <swiper-slide class="slide-container">
          <div class="swiper-slide-contents">
            <Markdown content={slide.text} />
          </div>
        </swiper-slide>
      );
    })
  }
</swiper-container>
