.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px;

  .page-link {
    display: inline-block;
    padding: 20px 27px !important;
    margin: 0px 15px !important;

    font-weight: 600;
    font-size: 20px;

    border-radius: 20px !important;

    &.active {
      background: #034ad8 !important;
      border-color: #034ad8 !important;
    }

    svg {
      margin-right: -2px;
      color: #034ad8 !important;
    }

    &:hover {
      svg {
        g {
          fill: #034ad8;
        }
      }
    }
  }
}

.blog-post-tag {
  margin-block: 1rem;

  a {
    background: #7988d2;
    border-radius: 6px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 12px;
    color: #034ad8;
    font-weight: 500;
    margin-right: 1rem;
  }
}
