---
import { header, logo, logo_url } from '../../../data/navigation.json';
---

<header class="header" x-data="{ open: false, color: '#ffffff' }">
  <div class="header__container">
    <nav class="header__nav">
      <a class="header__logo-link" href={logo_url}>
        <img class="header__logo-image" src={logo} alt="Logo" />
      </a>
      <button
        class="hamburger"
        @click="open = ! open"
        x-on:click="if(color === '#ffffff'){color = '#000000'}else{color = '#ffffff'}">
        <div
          class="hamburger__inner"
          x-bind:style="'background-color: ' + color"
          x-transition>
        </div>
      </button>
      <ul
        class="header__nav-links"
        x-show="open"
        x-transition
        @click.outside="open = false">
        {
          header.links.map((link) => {
            return (
              <li class="header__nav-item">
                <a class="header__nav-link" href={link.url}>
                  {link.text}
                </a>
              </li>
            );
          })
        }
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    position: absolute;
    top: 0;
    z-index: 10;
    display: grid;
    min-width: 100vw;
    height: var(--headerHeight);
  }

  .header__container {
    width: min(var(--largeContainer), 100%);
    margin: 0 auto;
    justify-content: space-between;
    padding-inline: var(--pagePadding);
  }

  .header li {
    list-style-type: none;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
  }

  .header__logo-image {
    width: 64px;
    rotate: 0deg;
  }
  .header__logo-image:hover {
    rotate: -10deg;
    transition: rotate 0.25s;
  }
  .header__logo-image:not(:hover) {
    transition: rotate 0.25s;
  }
  .header__logo-image: {
    rotate: -10deg;
    transition: rotate 0.5s;
  }

  .header__nav-links {
    position: absolute;
    z-index: 99;
    background-color: white;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 1rem;
    padding-block: 6rem;
  }
  .header__nav-link {
    cursor: pointer;
  }
  .header__nav-link:hover {
    color: #034ad8;
  }

  @media screen and (min-width: 800px) {
    .header__nav-links {
      position: static;
      display: flex !important;
      flex-direction: row;
      justify-content: flex-end;
      padding: 0;
      min-width: none;
      background-color: transparent;
      color: white;
    }
  }

  @media screen and (min-width: 800px) {
    .header__nav-item {
      padding-left: 1rem;
    }
  }

  .hamburger {
    position: relative;
    z-index: 999;
    border: none;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
  }

  @media screen and (min-width: 800px) {
    .hamburger {
      display: none;
    }
  }
  .hamburger__inner,
  .hamburger__inner::before,
  .hamburger__inner::after {
    display: block;
    width: 2rem;
    height: 0.25rem;
    background-color: inherit;
  }
  .hamburger__inner::before,
  .hamburger__inner::after {
    content: '';
    display: block;
    position: relative;
  }
  .hamburger__inner::before {
    top: -0.625rem;
  }
  .hamburger__inner::after {
    top: 0.4rem;
  }
</style>
