---
import Markdown from '../utility/markdown.astro';
const block = Astro.props;
---

{
  ENV_BOOKSHOP_LIVE ? (
    <h2 style="text-align: center;">
      This component breaks the visual previewer - this is a fallback message.
      The component is still editable, and builds on the real site.
    </h2>
  ) : (
    <>
      <div class="slider-container">
        <div class="slider-heading">
          {block.heading ? <h2>{block.heading}</h2> : null}
          {block.subheading ? <div>{block.subheading}</div> : null}
        </div>
        <swiper-container init="false" class="swiper-container">
          {block.slides.map((slide: any) => {
            return (
              <swiper-slide class="slide-container">
                <div class="swiper-slide-contents">
                  <Markdown content={slide.text} />
                </div>
              </swiper-slide>
            );
          })}

          <div class="swiper-pagination" />

          <div class="swiper-button-prev" />
          <div class="swiper-button-next" />

          <div class="swiper-scrollbar" />
        </swiper-container>
      </div>
    </>
  )
}

<script>
  // swiper element
  const swiperEl = document.querySelector('swiper-container');

  // swiper parameters
  const swiperParams = {
    slidesPerView: 1,
    loop: true,
    pagination: true,
    navigation: true,
    spaceBetween: 30,
    breakpoints: {
      720: {
        slidesPerView: 2,
      },
      1024: {
        slidesPerView: 3,
      },
    },
    on: {
      init() {
        // ...
      },
    },
  };

  // now we need to assign all parameters to Swiper element
  Object.assign(swiperEl, swiperParams);

  // and now initialize it
  swiperEl.initialize();
</script>

<style is:global>
  .slider-container {
    max-width: var(--largeContainer);
    margin: 0 auto;
    padding-block: 96px;
  }

  .slide-container {
    padding-block: 96px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  .swiper-slide-active .swiper-slide-contents {
    border-radius: 8px;
    background-color: white;
    border-radius: 8px;
  }

  @media only screen and (min-width: 720px) {
    .swiper-slide-next .swiper-slide-contents,
    .swiper-slide-active .swiper-slide-contents {
      box-shadow: none;
      background-color: transparent;
      border-radius: 8px;
      filter: blur(0);
    }
  }
  @media only screen and (min-width: 1024px) {
    .swiper-slide-contents {
      filter: blur(2px);
    }
    .swiper-slide-next .swiper-slide-contents {
      box-shadow: rgba(149, 157, 165, 0.4) 0px 0px 32px;
      background-color: white;
      scale: 1.25;
      transition:
        scale 0.75s ease,
        box-shadow 0.5s ease;
      filter: blur(0);
      position: relative;
      z-index: 99;
    }
    .swiper-slide-active .swiper-slide-contents {
      filter: blur(2px);
    }
  }

  .swiper-container {
    padding-inline: 2rem;
    padding-block: 2rem;
  }

  .swiper-slide-contents {
    padding: 2rem 5rem;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  }

  .slider-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }
</style>
